.icon-card {
  background-color: #575656;
  color: #ffff;
  padding: 20px;
  border-radius: 20px;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  gap: 6px;
  /* font-size: 12px; */
  border: 5px solid #ffff; /* noir */
}

.icon-card:hover {
  background-color: #ffff; 
  color: #26348C;
}
span{
    font-size: 13px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .icon-card {
    width: 70px;
  height: 70px;
   border-radius: 20px;
  }
  span{
    font-size: 9px;
}
}